{% extends "personal/header.html" %}

{% block content %}
<article>
	<div class="panel panel-info" style="width: 60%">
		<div class="panel-heading">
			<h2 class="panel-title">Meetings</h2>
		</div>
		<div class="container-fluid" style="width: 90%; padding-top: 50px">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Upcomming</h3>
						</div>
						<div class="panel-body">
							<table class="table">
								<tbody>
								{% for e in event %}
									<tr class="">
										<td class="info" rowspan="2">
											N
										</td>
										<td style="width: 130px;">											
											<span style="font-size: small;">{{e.date}}</span>
										</td>
										<td style="font-weight:bold">
											<a class="qtipSelector" href="/sales_tool/{{e.id}}"> {{e.title}}</a>
										</td>
										<td class="info" rowspan="2">
										
										</td>										
									</tr>
									<tr class="">
										<td colspan="3">
											<span style="font-style: italic; font-size: small;">FILLER</span>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
{% endblock %}

